h1{
    margin: 10px
}
.column{
    column-gap: 1px;
    columns: 3 148.2px;
    float:left;
    padding: 50px;
    /* text-align: center; */
    font-size: 25px;
    cursor: pointer;
    color:white;
}
.column:hover{
    color:aqua;
}

.containerTab{
    width: auto;
    padding: 20px;
    color: white;
}

.row::after{
    content:"";
    display: table;
    clear: both;
}

.closebtn{
    float:right;
    color:white;
    font-size: 35px;
    cursor: pointer;
}