.row{
    width:100%;

}
.column{
    width:31.3333%;
    float:inline-start;
    margin:1%;
    border-radius: 0.5cm;
    padding-top: 50px;
    padding-bottom: 50px;

    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color:white;
}

.containerTab{
    display: none;
    width: auto;
    margin:1%;
    padding: 20px;
    border-radius: 0.5cm;
    color: white;
}

.row::after{
    content:"";
    display: table;
    clear: both;
}

.closebtn{
    float:right;
    color:white;
    font-size: 35px;
    cursor: pointer;
}


.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: red;
}